<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Solicitar Acesso ao <%= baba.name %></h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/babas/<%= baba._id %>/players" method="POST">
                <div class="form-group">
                    <input class="form-control" type="email" name="player[email]" placeholder="text">
                </div>
                <div class="form-group">
                    <input class="form-control" type="tel" name="player[phone]" placeholder="text">
                </div>                
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/babas">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>

