<% include partials/header %>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="stylesheets/landing.css">
<div class="container">
 	<div class="row">
 		<div class="col-lg-12">
 			<div class="content">
 				<h1>Baba Manager</h1>
 				<h3>Comece a organizar o seu Baba hoje mesmo!</h3>
 				<hr>
 				<a href="/babas" class="btn btn-default btn-lg"><i class="fa fa-soccer-ball-o"></i> Organizar Meu Baba!</a>
 			</div>
 		</div>
 	</div>
 </div>
 
 <script src="scripts/background.js"></script>

<% include partials/footer %>