<% include ../partials/header %> 

 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Bem vindo ao Baba Manager</h1>
             <p>O melhor gerenciador de babas do planeta!</p>
             <p>
                <a class="btn btn-primary btn-large" href="/babas/new">Adicionar novo baba</a>
             </p>
         </div>
     </header>
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% babas.forEach(function(baba){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img src="<%= baba.image %>">
                   <div class="caption">
                       <h4><%= baba.name %></h4>
                   </div>
                   <p>
                       <a href="/babas/<%= baba._id %>" class="btn btn-primary">Mais informações</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>
